<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>change</title>
</head>

<div id="container" style="width:1800px">

    <div id="header" style="background-color:#33CCCC;">
        <h1 style="margin-bottom:0;text-align:center">欢迎使用图书借阅系统</h1></div>

    <div id="menu" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
        <b></b><br>
        <ul>
            图书展示
            <li><a href="/bookList">查看图书列表</a>
            <li><a href="/borrowBook">借取图书</a> </li>
            <li><a href="/returnBook">归还图书</a> </li>
        </ul>
        <ul>
            个人管理
            <li><a href="/readerChangePassword">更改密码</a></li>
            <li><a href="/login">退出系统</a></li>
        </ul>
    </div>

    <div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
        <p>更改密码</p>
        <p th:text="${tip}"></p>
        <form action="/readerChangePassword" method="post">
            <div>
                <label>
                    请输入用户名称
                    <input type="text" name="name">
                </label>
            </div>
            <div>
                <label>
                    请输入原密码
                    <input type="password" name="password">
                </label>
            </div>
            <div>
                <label>
                    请输入新密码
                    <input type="password" name="newPassword">
                </label>
            </div>
            <div>
                <label>
                    请确定密码
                    <input type="password" name="newPassword1">
                </label>
            </div>
            <div>
                <input type="submit" value="确定">
            </div>
        </form>
    </div>

    <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
        版权 你不可以动哦</div>
</div>
</html>
