<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>userBoard</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="row text-center" id="header">
  <h1>欢迎使用图书管理系统</h1>
</div>

<div id="container">
  <div class="row">
    <div class="col-2">
      <div id="menu">
        <b>图书管理</b><br>
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-info" href="/newBook">上架图书</a>
          <a class="list-group-item list-group-item-action list-group-item-info" href="/history">查看历史记录</a>
        </div>
        <div class="list-group">
          <b>个人管理</b>
          <a class="list-group-item list-group-item-action list-group-item-info" href="/newUser">创建用户</a>
          <a class="list-group-item list-group-item-action list-group-item-info" href="/userList">用户列表</a>
          <a class="list-group-item list-group-item-action list-group-item-info" href="/deleteUser">删除用户</a>
          <a class="list-group-item list-group-item-action list-group-item-info" href="/userChangePassword">更改密码</a>
          <a class="list-group-item list-group-item-action list-group-item-info" href="/login">退出系统</a>
        </div>
      </div>
    </div>
    <div class="col-10 bg-success p-2 text-dark bg-opacity-25">

      <div id="content">
        <p>欢迎<span th:text="${user.name}"></span>登陆,请选择您需要查看的内容</p>

      </div>
    </div>

  </div>
</div>
</body>
</html>



